#main {
  background-color: black;
  width: 101%;
}

#first {
  background-color: #ffac6d;
  height: 60vw;
  text-align: center;
}

#second {
  background-color: #ff886d;
  height: 55vw;
  padding-top: 7vw;
  padding-bottom: 5vw;
  }

#third {
  background-color: #ffac6d;
  height: 55vw;
  padding-top: 4vw;
}

#fourth {
  background-color: #ff886d;
  height: 55vw;
  /*padding-top: 5vw;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.fourthContainer {
  background-color: black;
    padding-top: 13vw;
    background-image: url('../img/kermstretch1.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    /*width: 130%;*/
    background-position: left;
    color: white;
}

#clientTitle {
  padding-left: 6vw;
  padding-top: 2vw;
}

#clientHolder {
      padding: 3vw;
  text-align: center;
}

#freeer{
  /*padding-left: 3vw;*/
}

#ezLife{
  /*padding-right: 4vw;*/
}

#clientHolder h1 {

}

.clientWork {
  text-align: center;
  padding: 2vw;
  font-size: 16px;
}

#freeerVid{
  padding-top: 2vw;
  width: 90%;
  height: auto;
}

#ezShot {
  width: 90%;
  height: auto;
  padding-top: 2vw;
}

#fifth {
  height: 20vw;
  background-color: #ffac6d;
  color: white;
  padding: 3vw;
  text-align: center;
}

#signOff{
  padding-top: 2%;
  text-align: center;
}

#peacers {
  padding-top: 8%;
}

.icons a {
  color: white;
}

.icon a {
  text-decoration: none;

}

.icon {
  padding: 0.6vw;
  letter-spacing: 1vw;
  transition: all .2s ease-in-out;
}

.icon:hover {
  transform: scale(1.9);
  text-decoration: none;

}


.bio{
  margin-top: 16vw;
  color: white;
  position: sticky;
  top: 10px;
  margin-left: 7vw;
}

.bio-sticky{
  padding-bottom: auto;
  color: white;
  position: absolute;
  margin-left: 7vw;
}

#headshot{
  padding-top: 18vw;
  position: fixed;
  margin-left: -8vw;
  /*attachment: fixed;*/
}

#second h1{
  margin-left: 7vw;
  color: white;
  margin-top: -1vw;
 }

#second h2{
  margin-left: 8vw;
  display: list-item;
}


#litLendContainer{
  padding-top: 3vw;
}

#lendDescription  {
  padding: 2vw;
  /*display: list-item;*/
  /*color: white;*/
}

#litlend-shot{
  padding-top: 2vw;
  width: 90%;
  height: auto;
}

.litLendBadges{
  margin-left: 7vw;
}

.litLendBadges p {
  color: white;
  font-size: 16px;
  padding: 4px;
  margin-bottom: 2px;
}

.lendBadge{
  background-color: #ffac6d;
  /*padding: 0.03vw;*/
  border-radius: 10px;
  text-align: center;
  margin: 4px;
}


#third h2{
  padding: 1vw;
  margin-left: 15vw;
  margin-top: 3.8vw;
  display: list-item;

}

#dadsBasementShot {
  width: 100%;
  margin-left: 5vw;
  margin-top: 6vw;
}

.dadsBasementContainer {
  padding-top: 10vw;
  background-image: url('../img/treeFrog.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 110%;

}

.dadsBadges {
  margin-left: 13.7vw;
}

.dadBadge {
  background-color: #ff886d;
  border-radius: 10px;
  text-align: center;
  margin: 4px;
  color: white;
}

.dadsBadges p {
  font-size: 16px;
  padding: 4px;
  margin-bottom: 2px;
  color: white;
}

#dadDescription {
  padding-top: 3vw;
  margin-left: -1vw;
}
